#general{
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
    margin-top: 50px;
    width: 100%;
}

/* BOMBO BINGO */
#numRandom{
    margin-top: 5px;
    display: none;
    width: 300px;
    height: 300px;
    text-align: center;
    color: #E0A800;
    font-size: 155px;
    font-weight: bold;
}
#bingo{
    width: 30%;
    background-color: #101625;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:
        0 0.5px 2.3px rgba(0, 0, 0, 0.14),
        0 1.2px 5.8px rgba(0, 0, 0, 0.2),
        0 2.5px 11.9px rgba(0, 0, 0, 0.25),
        0 5.1px 24.5px rgba(0, 0, 0, 0.31),
        0 14px 67px rgba(0, 0, 0, 0.45)
    ;
}
#bombo{
    margin-top: -100px;
    margin-bottom: 30px;
    width: 100%;
    border: rgb(0, 0, 0) 20px dashed;
    border-radius: 50%;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    margin-top: 20px;
    border:  black 2px solid;
    border-radius: 10px;
}
li{
    border: black 1px solid;
    font-size:large;
    color: white;
    font-weight: bold;
    background-color: rgb(98, 98, 100, .15);
    /*opacity: 0.15;*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
/* BOMBO BINGO */

/* TABLERO */
#tablero{
    width: 80%;
    margin-right: 100px;
    margin-left: 180px;
}
#tableroBotones button{
    box-shadow:
        0 0.7px 0.8px rgba(0, 0, 0, 0.42),
        0 1.8px 2px rgba(0, 0, 0, 0.29),
        0 3.7px 4.1px rgba(0, 0, 0, 0.234),
        0 7.7px 8.4px rgba(0, 0, 0, 0.186),
        0 21px 23px rgba(0, 0, 0, 0.13);
    margin: 12px;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size:xx-large;
    border-radius: 50%;
    border: 0;
}
.normal{
    box-shadow:
        0 0.7px 0.8px rgba(0, 0, 0, 0.42),
        0 1.8px 2px rgba(0, 0, 0, 0.29),
        0 3.7px 4.1px rgba(0, 0, 0, 0.234),
        0 7.7px 8.4px rgba(0, 0, 0, 0.186),
        0 21px 23px rgba(0, 0, 0, 0.13);
    margin: 12px;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size:xx-large;
    border-radius: 50%;
    border: 0;
}
/* TABLERO */

/*CLASES MINI INFO*/
#infoColores{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#infoColores div{
    height: 30px;
    width: 30px;
    border: 2px black solid;
    border-radius: 5px;
    margin-right: 80px;
}
#infoColores label{
    margin-right: 10px;
}
.elegido{
    background-color:#E0A800; 
    color: #1f2c4c;   
}
.acertado{
    background-color:green;
    color: #1f2c4c;    
}
.fallado{
    background-color:red;
    color: #1f2c4c;     
}
.salido{
    border: 3px solid white !important;
    color: white;  
}

.alert-success{
    background-color: rgba(0, 128, 0, 0.450);
    color: white;
    border: 1px solid black;
}

.alert-danger{
    background-color: rgba(255, 0, 0, 0.450);
    color: white;
    border: 1px solid black;    
}

/* BARRA DEBAJO */
#popup{
    margin-top: 1px;
    margin-left: -10px;
}
#apuesta{
    display: flex;
    justify-content: flex-start;

    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 12px;
    width: 490px;
    background-color: #161e33;
}
#apuesta input{
    width: 200px;
    height: 48px;
    margin-right: 10px;
    margin-left: 10px;
}
/*QUITAER FLECHAS INPUT*/
input[type=number] { -moz-appearance:textfield; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
#apuesta button{ width: 100px; margin-right: 10px; font-size: 20px; }
#apuesta h3 { margin-top: 6px; margin-left: 3px; }
/* BARRA DEBAJO */

/* POPUP DENTRO */
h4 { text-align: center; }
th, td {padding: 15px;}
th {height: 40px;}

#premios, td, th{
    border: 1px solid #ddd;
    text-align: left;
    margin:0 auto;
  }
#premios{
    border-collapse :collapse;
    width: 60%;
}
.btnpopup{
    background-color: transparent;
    color: white;
    border-color: transparent;
/*  
    border-width: 3px;
    border-style: groove 5px;
    border-radius: 10px; */
}
/* POPUP DENTRO */

/*RESPONSIVE*/
@media screen and (max-width:1050px){ /*iPad Pro*/
    #bingo{
        display: none;
    }

    #tablero{
        margin: auto;
        width: 100%;
        height: 100%;
    }

    #infoColores{
        display: none;
    }

    #tablero button{
        margin-top: 0;
        margin-right: 0;
        margin-left: 20px;
        width: 85px;
        height: 85px;
        text-align: center;
        font-size: 50px ;
        padding: 0;
    }

    #apuesta{
        margin: auto;
        margin-top: 40px;
        border: 0;
        width: 90%;
    }

    #apuesta input{
        width: 250px;
        height: 50px;
        font-size: x-large ;
    }

    #apuesta button{
        width: 150px;
        height: 50px;
        font-size: x-large ;
    }    
}

@media screen and (max-width:769px){ /*iPad*/
    #tablero{
        margin-top: 0;
    }

    #tablero button{
        margin-top: 0;
        margin-right: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: xx-large;
        padding: 0;
    }

    #apuesta{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        margin-top: 40px;
        border: 0;
    }

    #apuesta button{
        width: 150px;
        height: 50px;
        font-size: x-large ;
        margin: 10px;
    }
}

@media screen and (max-width:700px){ /*Movil*/
    #general{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 0;
    }

    #tablero{
        margin-top: 20px;
        margin-right: 0;
        margin-left: 10px;
        width: 100%;
        height: 100%;
    }

    #infoColores{
       display: none;
    }

    #tablero button{
        margin: 5px;
        width: 40px;
        height: 40px;
        font-size:x-large;   
    }

    #apuesta{
        margin-top: 45px;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        height: 100px;
        text-align: center;
    }

    #apuesta input{
        width: 200px;
        height: 30px;
    }

    #apuesta button{
        flex-wrap: wrap;
        width: 100px;
        height: 30px;
        font-size: large;
    }
}
