<div id="general">
    <div id="bingo"><!--parte izquierda del tablero con la informacion de los numeros-->
        <div id="bombo"> <!--lo que es el bomboi donde está el lootiefile-->
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_EX6tIQ.json"  background="transparent"  speed="1"  
            style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>

        <div id="numSalidos"> <!--array donde van saliendo los numeros que van saliendo-->
            <h6>Results</h6>
            <ul id="listaSalidos">
                <li id="numSalido1">{{numAleatorios[0]}}</li>   <li id="numSalido2">{{numAleatorios[1]}}</li>
            <li id="numSalido3">{{numAleatorios[2]}}</li>   <li id="numSalido4">{{numAleatorios[3]}}</li>
            <li id="numSalido5">{{numAleatorios[4]}}</li>   <li id="numSalido6">{{numAleatorios[5]}}</li>
            <li id="numSalido7">{{numAleatorios[6]}}</li>   <li id="numSalido8">{{numAleatorios[7]}}</li>
            <li id="numSalido9">{{numAleatorios[8]}}</li>   <li id="numSalido10">{{numAleatorios[9]}}</li>
            <li id="numSalido11">{{numAleatorios[10]}}</li>   <li id="numSalido12">{{numAleatorios[11]}}</li>
            <li id="numSalido13">{{numAleatorios[12]}}</li>   <li id="numSalido14">{{numAleatorios[13]}}</li>
            <li id="numSalido15">{{numAleatorios[14]}}</li>   <li id="numSalido16">{{numAleatorios[15]}}</li>
            <li id="numSalido17">{{numAleatorios[16]}}</li>   <li id="numSalido18">{{numAleatorios[17]}}</li>
            <li id="numSalido19">{{numAleatorios[18]}}</li>  <li id="numSalido20">{{numAleatorios[19]}}</li>
        </ul>
        </div>
        
        <div id="numPlayer"> <!--numeros seleccionados por el jugador-->
            <h6>Selected Numbers</h6>
            <ul id="listaPlayer" >
                <li id="numPlayer1">{{numSelecc[0]}}</li>
                <li id="numPlayer2">{{numSelecc[1]}}</li>
                <li id="numPlayer3">{{numSelecc[2]}}</li>
                <li id="numPlayer4">{{numSelecc[3]}}</li>
                <li id="numPlayer5">{{numSelecc[4]}}</li>
                <li id="numPlayer6">{{numSelecc[5]}}</li>
                <li id="numPlayer7">{{numSelecc[6]}}</li>
                <li id="numPlayer8">{{numSelecc[7]}}</li>
            </ul> 
        </div>
        {{resultado}}
    </div>

    <div id="tablero"> <!--parte derecha con los 80 botones-->
        <div id="infoColores">
            <ng-container>
                <label>Selected</label>
                <div class="infoElegido"></div>
            </ng-container>
            
            <ng-container>
                <label>Correct</label>
                <div class="infoAcertado"></div>
            </ng-container>
            
            <ng-container>
                <label>Failed</label>
                <div class="infoFallado"></div>
            </ng-container>
        </div>

        
        <div id="tableroBotones" >
            <ng-container  *ngFor="let t of tablero"   >   
                <!--[ngClass]="{'elegido': this.select==true, 'acertado': this.info==true, 'fallado': this.info==false}">
             --> <button  id="tabBtn{{t}}"   class="btn btn-secondary" class="normal" (click)="addNumero(t)" >{{t}}</button>
            </ng-container>
        </div>

        <div id="apuesta">
                <br>
                <label for="number">Bet:</label>
                <input type="number" class="form-control"/>
                <button id="btnEmpezar" class=" btn btn-warning" (click)= "comparar()" [disabled]="click" >Start</button>
                <button id="btnRestart" class="btn btn-warning" (click)="refresh()"> Restart</button>
                <br>
                <div id="popup">
                    <ng-template #contenido let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title">How To Play</h4>
                            <button class="close" arial-label="close" type="button" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Este juego es el KENO.
                            Consiste en elegir entre 1 y 8 números(es decir, puedes elegir 1 número, 2 números, 3 números,.., así hasta 8 números).
                            El mínimo a elegir es un número y el máximo son 8 números. Una vez que usted ya ha elegido los números, que al seleccionarlos
                            se pondrán en color amarillo, que quiera y meter una apuesta de los puntos con los que quiere apostar,
                            debe darle al botón de PLAY. Una vez dado al botón, saldrán 20 números aleatorios y se compararán los números
                            que usted ha elegido con los que han salido aleatorios. Una vez comparados, saldrán en pantalla en color rojo los que no coinciden
                            , en color verde los que sí has acertado. También saldrá un texto que indique si se ha fallado o si hay acierto. 
                            Usted gana si acierta todos los números que ha elegido. Y se llevará el premio.
                            Si hay alguno en rojo o si sale el texto "fallado", significa que usted no ha ganado y la apuesta que ha hecho la pierde.
                        </div>
                  
                        <div id="premios">
                            <h4>Prize pool</h4>
                            <table>
                                <tr>
                                    <th>1/1</th>
                                    <th>2/2</th>
                                    <th>3/3</th>
                                    <th>4/4</th>
                                    <th>5/5</th>
                                    <th>6/6</th>
                                    <th>7/7</th>
                                    <th>8/8</th>
                                </tr>
                                <tr>
                                    <td>3.50 bytes</td>
                                    <td>14.00 bytes</td>
                                    <td>55.00 bytes</td>
                                    <td>225.00 bytes</td>
                                    <td>1000 bytes</td>
                                    <td>5000 bytes</td>
                                    <td>20000 bytes</td>
                                    <td>50000 bytes</td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="modal.close()">Ok!</button>
                        </div>
                    </ng-template>
                    
                    <button type="button" class="btnpopup" (click)="openXL(contenido)">HOW TO PLAY</button>
                </div>
            </div>
        
    </div>
</div>





