app-user{
    display: none;
}
#general{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}

#bingo{
    width: 30%;
    background-color: #101625;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:
        0 0.5px 2.3px rgba(0, 0, 0, 0.14),
        0 1.2px 5.8px rgba(0, 0, 0, 0.2),
        0 2.5px 11.9px rgba(0, 0, 0, 0.25),
        0 5.1px 24.5px rgba(0, 0, 0, 0.31),
        0 14px 67px rgba(0, 0, 0, 0.45)
    ;
}

#bombo{
    margin-bottom: 60px;
    width: 100%;
    border: black 15px dashed;
    /* background-color: rgb(99, 96, 96); */
    border-radius: 50%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    margin-top: 20px;
    border:  black 2px solid;
    border-radius: 10px;
}
li{
    border: black 1px solid;
    font-size:large;
    color: white;
    font-weight: bold;
    background-color: rgb(98, 98, 100, .15);
    /*opacity: 0.15;*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
#tablero{
    width: 80%;
    margin-right: 100px;
    margin-left: 180px;
}

#tableroBotones button{
    box-shadow:
  0 0.7px 0.8px rgba(0, 0, 0, 0.42),
  0 1.8px 2px rgba(0, 0, 0, 0.29),
  0 3.7px 4.1px rgba(0, 0, 0, 0.234),
  0 7.7px 8.4px rgba(0, 0, 0, 0.186),
  0 21px 23px rgba(0, 0, 0, 0.13)
;
    margin: 12px;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size:xx-large;
    border-radius: 50%;
    background-color: rgba(110, 108, 108, 0.733);
    border: 0;
}

/*CLASES MINI INFO*/
#infoColores{
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    margin-bottom: 10px;
}

#infoColores div{
    height: 30px;
    width: 30px;
    border: 2px black solid;
    border-radius: 5px;
    margin-right: 100px;
}
#infoColores label{
    margin-right: 10px;
}
.infoElegido{
    background-color: yellow;
}
.infoAcertado{
    background-color: green;
}
.infoFallado{
    background-color: red;
}

#apuesta{
    display: flex;
    justify-content: start;
   
    margin: 30px;
    /*border: black 2px solid;*/
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    background-color: #161e33;
}
#apuesta input{
    width: 200px;
    margin-right: 50px;
    margin-left: 30px;
}
#premios, td, th{
    border-collapse: collapse;
  width: 100%;
  border: 5px solid black;
}
th, td {
    text-align: left;
    padding: 8px;
  }
  

  
  

/*CLASES BOTON*/
.elegido{
    background-color:yellow;    
}

.acertado{
    background-color:green;    
}

.fallado{
    background-color:red;    
}


/*RESPONSIVE*/
@media screen and (max-width:1050px){
    #bingo{
        display: none;
    }
    #tablero{
        margin: auto;
        width: 100%;
        height: 100%;
    }
    #infoColores{
        display: none;
    }
    #tablero button{
        margin-top: 0;
        margin-right: 0;
        width: 60px;
        height:60px;
        text-align: center;
        font-size: auto;
        padding: 0;
    }
    #apuesta{
        margin: auto;
        margin-top: 20px;
        border: 0;
        width: 80%;
        justify-content: center;
    }

    #apuesta button{
        width: 100px;
        height: 40px;
    }    
}

@media screen and (max-width:700px){ /*mobile*/
    #general{
        justify-content: center;
        flex-wrap: wrap;
    }
    #tablero{
        width: 100%;
        height: 50%;
    }
    #infoColores{
       display: none;
    }
    #tablero button{
        margin-top: 0;
        margin-right: 0;
        width: 30px;
        height: 30px;
        font-size:large;      
    }
    #apuesta{
        margin: auto;
        height: 60px;
        width: 100%;
        flex-wrap: wrap;
        height: 60px;
        text-align: center;
    }
    #apuesta button{
        flex-wrap: wrap;
        width: 70px;
        height: 30px;
        font-size: small;
    }
    
    #apuesta input{
        width: 100px;
        height: 35px;
/*         margin-right: 50px;
        margin-left: 30px; */
    }
    h3{
        font-size: 20px;
    }

    app-user{
        display: block;
    }

}
