#general{
    display: flex;
    justify-content: space-between;
}

#bingo{
    width: 22%;
    background-color: #1f2c4c;
    padding: 10px;
    border: black 3px solid;
    border-radius: 10px;
    background-color: #101625;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bombo{
   width: 100%;
    border: black 15px dashed;
    /* background-color: rgb(99, 96, 96); */
    border-radius: 50%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    border:  black 2px solid;
    border-radius: 10px;
}
li{
    border: black 1px solid;
    background-color: rgb(98, 98, 100);
    opacity: 0.15;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#tablero{
    width: 70%;
    margin-right: 50px;
    margin-left: 100px;
}

#tableroBotones button{
    margin: 12px;
    height: 50px;
    width: 50px;
    font-size:x-large;
}
/*CLASES MINI INFO*/
#infoColores{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#infoColores div{
    height: 30px;
    width: 30px;
    border: 5px black solid;
    border-radius: 10px;
    margin-right: 100px;
}
#infoColores label{
    margin-right: 10px;
}
.infoElegido{
    background-color: yellow;
}
.infoAcertado{
    background-color: green;
}
.infoFallado{
    background-color: red;
}

/*CLASES BOTON*/

.elegido{
    background-color:yellow;    
}

.acertado{
    background-color:green;    
}

.fallado{
    background-color:red;    
}