<div id="general">
    <div id="bingo"><!--parte izquierda del tablero con la informacion de los numeros-->
        <div id="bombo"> <!--lo que es el bomboi donde está el lootiefile-->
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_EX6tIQ.json"  background="transparent"  speed="1"  
            style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>

        <div id="numSalidos"> <!--array donde van saliendo los numeros que van saliendo-->
            <h6>Results</h6>
            <ul id="listaSalidos">
                <li id="numSalido1">{{numAleatorios[0]}}</li>   <li id="numSalido2">{{numAleatorios[1]}}</li>
            <li id="numSalido3">{{numAleatorios[2]}}</li>   <li id="numSalido4">{{numAleatorios[3]}}</li>
            <li id="numSalido5">{{numAleatorios[4]}}</li>   <li id="numSalido6">{{numAleatorios[5]}}</li>
            <li id="numSalido7">{{numAleatorios[6]}}</li>   <li id="numSalido8">{{numAleatorios[7]}}</li>
            <li id="numSalido9">{{numAleatorios[8]}}</li>   <li id="numSalido10">{{numAleatorios[9]}}</li>
            <li id="numSalido11">{{numAleatorios[10]}}</li>   <li id="numSalido12">{{numAleatorios[11]}}</li>
            <li id="numSalido13">{{numAleatorios[12]}}</li>   <li id="numSalido14">{{numAleatorios[13]}}</li>
            <li id="numSalido15">{{numAleatorios[14]}}</li>   <li id="numSalido16">{{numAleatorios[15]}}</li>
            <li id="numSalido17">{{numAleatorios[16]}}</li>   <li id="numSalido18">{{numAleatorios[17]}}</li>
            <li id="numSalido19">{{numAleatorios[18]}}</li>  <li id="numSalido20">{{numAleatorios[19]}}</li>
        </ul>
        </div>
        
        <div id="numPlayer"> <!--numeros seleccionados por el jugador-->
            <h6>Selected Numbers</h6>
            <ul id="listaPlayer" >
                <li id="numPlayer1">{{numSelecc[0]}}</li>
                <li id="numPlayer2">{{numSelecc[1]}}</li>
                <li id="numPlayer3">{{numSelecc[2]}}</li>
                <li id="numPlayer4">{{numSelecc[3]}}</li>
                <li id="numPlayer5">{{numSelecc[4]}}</li>
                <li id="numPlayer6">{{numSelecc[5]}}</li>
                <li id="numPlayer7">{{numSelecc[6]}}</li>
                <li id="numPlayer8">{{numSelecc[7]}}</li>
            </ul> 
        </div>
        <div id="resultado"></div>
    </div>

    <div id="tablero"> <!--parte derecha con los 80 botones-->
        <div id="infoColores">
            <ng-container>
                <label>Selected</label>
                <div class="elegido"></div>
            </ng-container>
            
            <ng-container>
                <label>Correct</label>
                <div class="acertado"></div>
            </ng-container>
            
            <ng-container>
                <label>Failed</label>
                <div class="fallado"></div>
            </ng-container>
        </div>

        
        <div id="tableroBotones" >
            <ng-container  *ngFor="let t of tablero"   >   
                <!--[ngClass]="{'elegido': this.select==true, 'acertado': this.info==true, 'fallado': this.info==false}">
             --> <button  id="tabBtn{{t}}"   class="btn btn-secondary" class="normal" (click)="addNumero(t)" >{{t}}</button>
            </ng-container>
        </div>

        <div id="apuesta">
                <br>
                <h3>BET</h3>
                <input type="number" #apuesta class="form-control"/>
                <button id="btnEmpezar" class=" btn btn-warning" (click)="jugar(apuesta.value)" [disabled]="click" ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></button>
                <button id="btnRestart" class="btn btn-warning" (click)="refresh()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                  </svg></button>
                <br>
                <div id="popup">
                    <ng-template #contenido let-modal >
                        <div class="modal-header">
                            <h4 class="modal-title">HOW TO PLAY</h4>
                            <button class="close" arial-label="close" type="button" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="text-align: center;">
                            In this game, you must choose up to eight different numbers from the displayed selection. 
                            Once you pick up your numbers, your selection will turn yellow. Before starting to play, you must place a bet in the box below. 
                            Here, you can decide with your current balance how much you are going to bet! 
                            <br>After clicking the <b><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                              </svg></b> button, twenty different numbers would randomly appear on screen.
                            <br>These new numbers will be compared to the previous numbers you've chosen; they will turn green if they matched successfully, 
                            or red if they didn’t. <br>You win the game when all your selected numbers coincide with the numbers generated by the game itself, 
                            and therefore, winning the prize. <br>Once your game is finished if you want to play again, simply click the <b><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                              </svg></b> button. 
                            <br><br>The prize may vary depending on the bytes you bet and the numbers you are trying to match. <br>
                            Below, we've left you an explanation on how the multiplier works and what you win depending on the play you decide to do.
                        </div>
                  
                        <div id="premios">
                            <h4>PRIZE POOL</h4>
                            <table>
                                <tr>
                                    <th>If you match...</th>
                                    <th>1/1</th>
                                    <th>2/2</th>
                                    <th>3/3</th>
                                    <th>4/4</th>
                                    <th>5/5</th>
                                    <th>6/6</th>
                                    <th>7/7</th>
                                    <th>8/8</th>
                                </tr>
                                <tr>
                                    <td><b>Bytes Multiplier</b></td>
                                    <td>3 Bytes</td>
                                    <td>14 Bytes</td>
                                    <td>55 Bytes</td>
                                    <td>225 Bytes</td>
                                    <td>1000 Bytes</td>
                                    <td>5000 Bytes</td>
                                    <td>20000 Bytes</td>
                                    <td>50000 Bytes</td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="modal.close()">I KNOW HOW TO PLAY!</button>
                        </div>
                    </ng-template>
                    
                    <button type="button" class="btnpopup" (click)="openXL(contenido)"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                      </svg></button>
                </div>
            </div>
        
    </div>
</div>





