h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
  }

  mat-sidenav-container{
    height: 100%;
/*     box-shadow:
    0 0.4px 1.9px rgba(0, 0, 0, 0.124),
    0 1px 4.8px rgba(0, 0, 0, 0.177),
    0 1.9px 9.7px rgba(0, 0, 0, 0.223),
    0 4px 20.1px rgba(0, 0, 0, 0.276),
    0 11px 55px rgba(0, 0, 0, 0.4); */
  }
  mat-sidenav, mat-sidenav-content{
    
    padding: 1px;
  }
  mat-sidenav{
    background-color: #101625;
  }
  mat-sidenav-content{
    background-color: transparent;
  }
  #openBtn{
    display: flex;
    justify-content: end;
    color:rgb(0, 0, 0);
    border-style: solid;
  }
 /* 
  .example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  }
  #openBtn{
    font-weight: 600;
    font-size: 20px;
    color:rgb(255, 255, 255);
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:transparent;
    border-width: 3px;
    border-style: solid;
  }
  
  #content{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  
  }
  #closeBtn{
    background-color: transparent;
  }*/