h1{
    border-bottom: solid white 2px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
  }

  mat-sidenav-container{
    height: 100%;
/*     box-shadow:
    0 0.4px 1.9px rgba(0, 0, 0, 0.124),
    0 1px 4.8px rgba(0, 0, 0, 0.177),
    0 1.9px 9.7px rgba(0, 0, 0, 0.223),
    0 4px 20.1px rgba(0, 0, 0, 0.276),
    0 11px 55px rgba(0, 0, 0, 0.4); */
  }
  mat-sidenav{
    background-color: #101625;
  }
  mat-sidenav-content{
    background-color: transparent;
  }
  #close{
    margin: 1px 10px 10px 1px;
    background-color: #101625;
    color:#E0A800;
    font-weight: 600;
    border-style: solid transparent;
    border-color: transparent ;
  }
  #open{
    font-weight: bolder;
    margin-left: 205px;
    background-color: #101625c9;
    /*background-color: rgba(128, 128, 128, 0.849);*/
    color:#E0A800;
    /*border-style: solid transparent;*/
    border-color: transparent ;
    border-radius: 10px;
  }