<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" [opened]="true" [position]="nav_position">
    <button id="close" (click)="sidenav.close()">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <h1>Welcome!</h1>
    <!-- Login component FORM-->
    <ng-container *ngIf="!logueado">
      <app-login (logueado)="getLogeado($event)" (idPoints)="getIdPoints($event)"></app-login>
    </ng-container>
    <!-- User card COMPONENT USER-->
    <ng-container *ngIf="logueado">
      <app-user [idPoints]="idPoints"></app-user>
      <app-ranking></app-ranking>
    </ng-container>
    <!-- Ranking component-->

  </mat-sidenav>

  <mat-sidenav-content>
    <button id="open" (click)="sidenav.open()">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>