<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" [position]="nav_position">
    <button id="openBtn" (click)="sidenav.close()">Close</button>

    <h1>Welcome!</h1>
    <!-- Login component FORM-->
    <ng-container *ngIf="!logueado">
      <app-login (logueado)="getLogeado($event)" (idPoints)="getIdPoints($event)"></app-login>
    </ng-container>
    <!-- User card COMPONENT USER-->
    <ng-container *ngIf="logueado">
      <app-user [idPoints]="idPoints"></app-user>
      <app-ranking></app-ranking>
    </ng-container>
    <!-- Ranking component-->

  </mat-sidenav>

  <mat-sidenav-content>
    <button id="openBtn" (click)="sidenav.open()">Open</button>
  </mat-sidenav-content>
</mat-sidenav-container>