img{
  width: 100px;
  height: 100px;
}

#card{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.imagen{
  width: 50%;
}

.info{
  width: 50%;
  background-color: red;
  border-radius: 10px;
}