#wrapper {
  color: #B5905F;
  background-color: #1f2c4c;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  height: 100%;
}

#wrapper.toggled {
  padding-right: 250px;
}

#sidebar-wrapper {
  /* border-left: 3px solid black; */
  box-shadow:
  0 2.7px 4.5px rgba(0, 0, 0, 0.41),
  0 6.4px 10.6px rgba(0, 0, 0, 0.304),
  0 11.4px 19px rgba(0, 0, 0, 0.257),
  0 18.9px 31.5px rgba(0, 0, 0, 0.221),
  0 31.2px 51.8px rgba(0, 0, 0, 0.189),
  0 54.6px 90.6px rgba(0, 0, 0, 0.153),
  0 118px 196px rgba(0, 0, 0, 0.106)
;
  z-index: 1;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #161e33;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 0px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-right: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    /*padding: 20px;*/
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media screen and (max-width:700px){ /*eliminar la sidebar del mobile (provisional)*/
  #sidebar-wrapper {
    width: 0;
    display: none;
  }  
}
