<div class="login-page">
  <div class="form">
    <form class="login-form">
      <label>user or email</label><label class="required">*</label>
      <input #user type="text"/>
      <label>password</label><label class="required">*</label>
      <input #pass type="password"/>
      <button (click)="buscarUsuario(user.value, pass.value)">SIGN IN</button>
      <p class="message">No account? <a href="#">Create one!</a></p><br>
      </form>
      <form class="register-form">
        <label>user</label><label class="required">*</label>
        <input type="text"/>
        <label>email</label><label class="required">*</label>
        <input type="text"/>
        <label>password</label><label class="required">*</label>
        <input type="password"/>
        <label>repeat password</label><label class="required">*</label>
        <input type="password"/>
        <button>CREATE</button>
        <p class="message">Already have an account? <a href="#">Sign in</a></p>
      </form>
  </div>
</div> 

<!-- Cosas a tener en cuenta: -->
<!-- Los label de form son necesarios para que haga la animacion entre formularios -->
<!-- Si se le quita la funcion que se ha puesto a los form para que no hagan submit el inicio de sesion no funcionaria -->