h1{
    color: white;
    text-align: center;
}
table{
    margin-top: 20px;
    background-color: black;
    border: 1px white solid;
}

thead{
    background-color: #a50003;
}
th{
    color: white;
}

td{
    color: white;
}