small{
    margin-left: 90px;
}
p{
    font-size: large;
}
#logos{
    margin-top: 100px;
    margin-left: 130px;
    margin-right: 100px;
}

#info{
    margin-top: 130px;
}

#btnBingo{
    margin-top: 50px;
    height: 100px;
    width: 250px !important;
    font-size: xx-large;
    background-color: #a50003;
    box-shadow:
    0 0.5px 0.8px -8px rgba(0, 0, 0, 0.181),
    0 1.4px 2.3px -8px rgba(0, 0, 0, 0.26),
    0 3.3px 5.4px -8px rgba(0, 0, 0, 0.339),
    0 11px 18px -8px rgba(0, 0, 0, 0.52);
    margin-left: 100px;
}

#btnBingo:hover{
    background: #7F0001;
}

#lt{
    margin-top: -141px;
}

#thanks{
    color:#E0A800;
    margin-top: 50px;
}

#creative{
    width: 80px;
    margin-bottom: 5px;
    margin-left: 650px;
}

i{
    margin-left: 10px;
}

@media screen and (max-width:1200px){
    /* #logos, #info, #lt{ 
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
    } */
    #lt{
        margin: 0;
    }

    #logos, #info{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
    
    #btnBingo{
        margin-top: -50px;
        margin-right: 300px;
        margin-left: 300px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width:780px){
    #btnBingo{
        margin-right: 100px;
        margin-left: 130px;    
    }
}

@media screen and (max-width:375px){
    #btnBingo{
        margin-right: 0;
        margin-top: -50px;
        margin-left: 60px;  
        margin-bottom: 20px 
    }
    #lt{
        margin: 0;
    }
}