<div class="logos">
  <img style="width: 600px; margin-left: 100px;" src="/assets/img/logo.svg" alt="">
  <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_klsv8ygt.json" mode="bounce"
    background="transparent" speed="2" style="width: 600px; float: right; margin-right: 100px" loop autoplay>
  </lottie-player>
</div>
<div>
  <button class="btn btn-dark" routerLink="/bingo">BINGO</button>
  <button class="btn btn-dark"(click)="getPuntosUser()">PUNTOS</button>
  <p>USUARIO: {{userName}}</p>
  <P>PUNTOS: {{puntos}}</P>
</div>