<div class="row">
  <div class="col" id="logos"><img src="/assets/img/logo.svg" alt=""></div>
  <div class="col" id="info">
    <h1>What is casino1024?</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum  </p>
      <button class="btn btn-dark" routerLink="/bingo">TRY ME!</button>
  </div>
  <div class="w-100"></div>
  <div class="col" id="logos">
    <lottie-player src="assets/css/lf30_editor_qmqakrw2.json" mode="bounce" background="transparent" speed="2"
      style="width: 600px; height: 600px;" autoplay>
    </lottie-player>
  </div>
  <div class="col" id="info"></div>
</div>
<p style="text-align: center; padding-bottom:30px">test</p>