<div class="row">
  <div class="col-xl-5 col-md-11" id="logos"><img src="/assets/img/logo.svg" alt=""></div>
  <div class="col-xl-4 col-md-11" id="info">
    <h1>THIS IS NOT A REAL CASINO</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text Lorem Ipsum  </p>
  </div>
</div>
<div class="row">
  <div class="col-xl-5 col-md-11" id="logos">
    <lottie-player id="lt" src="assets/css/lf30_editor_qmqakrw2.json" mode="bounce" background="transparent" speed="2"
      autoplay>
    </lottie-player>
  </div>
  <div class="col-xl-5 col-md-11">
    <button id="btnBingo" class="btn btn-dark" routerLink="/bingo">PLAY BINGO</button>
  </div>
</div>