<section class="player-card">
  <div class="card">
    <header>
      <a class="profile">
        <img src="https://i.dlpng.com/static/png/6725283_preview.png" alt="pfp">
      </a>
    </header>

    <article>
      <h1>{{userName}}</h1> <!---->
      <h2>Espana</h2>
      
      <div class="info">
        <div>
          <span>11</span>
          <span>Partidas</span>
        </div>
        
        <div>
          <span>{{puntos}}</span> <!---->
          <span>Bytes</span>
        </div>
        
        <div>
          <span>11</span>
          <span>Amigos</span>
        </div>
      </div>
    </article>
  </div>
</section>
<button class="btn btn-dark"(click)="getPuntosUser()">test</button>