section.player-card {
  width: 247px;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
}
section.player-card .card {  
  float: left;
  width: 100%;
  overflow: hidden;
}
section.player-card header { /* Cabecera */
  width: 100%;
  height: 100px;
  background: black;
  position: relative;
}
section.player-card header a.profile img { /* Imagen redonda */
  height: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid transparent;
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin-left: -60px;
  z-index: 2;
}
section.player-card article {
  background-color: #B5905F;
  display: block;
  position: relative;
  padding: 62px 5px 30px;
  font-family: "Roboto Condensed", sans-serif;
}
section.player-card article h1 { /* Nombre player */
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 600;
  color: white;
}
section.player-card article h2 { /* h2 */
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
}
section.player-card article .info {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}
section.player-card article .info div {
  text-align: center;
  width: 33%;
}
section.player-card article .info div span {
  display: block;
}
section.player-card article .info div span:nth-of-type(1) {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
  color: black;
}
section.player-card article .info div span:nth-of-type(2) {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.5px;
}